@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #000000;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #26073c;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 2rem 9%;
  background-color: #219150;
}

.home .box .content {
  width: 50rem;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(50, 191, 92, 0.476);
}

.home .box .content span {
  font-size: 5rem;
  color: #110118;
  text-transform: uppercase;
}

.home .box .content .box-text {
  font-size: 6rem;
  color: #26073c;
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 1.5;
  color: #1b1022;
  font-size: 2rem;
  padding: 1rem 0;
}

.about {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about .image {
  -ms-flex: 9 9 42rem;
  flex: 9 9 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.about .image img {
  width: 100%;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}

.about .content {
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .content .box-text {
  font-size: 3rem;
  color: #219150;
}

.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 10px;
  line-height: 2;
}

.continuing-about {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.continuing-about .image {
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.continuing-about .image img {
  width: 100%;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}

.continuing-about .content {
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.continuing-about .content .box-text {
  font-size: 3rem;
  color: #219150;
}

.continuing-about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 10px;
  line-height: 2;
}

.places {
  background-color: #fff;
}

.places .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.places .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.places .box-container .box:hover {
  background: #10221b;
}

.places .box-container .box:hover .content>* {
  color: #fff;
}

.places .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: .5rem;
}

.places .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .5rem;
}

.places .box-container .box .content {
  padding: 2rem;
}

.places .box-container .box .content .box-text {
  font-size: 2rem;
  color: #10221b;
}

.places .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.places .box-container .box .content .price {
  font-size: 2rem;
  color: #219150;
}

.relaxing {
  background-color: #eee;
}

.relaxing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.relaxing .box-container .box {
  text-align: center;
  padding: 1rem;
}

.relaxing .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 40%;
  margin-bottom: 1rem;
}

.relaxing .box-container .box .box-text {
  font-size: 2rem;
  color: #219150;
}

.relaxing .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.footer {
  background: url(https://eu-assets.simpleview-europe.com/deanwye/imageresizer/?image=%2Fdbimgs%2FFDWV%20Gallery%20-%20Things%20To%20Do%20-%20Tintern%20Abbey%20in%20the%20Forest%20of%20Dean%20and%20Wye%20Valley.jpg&action=FeaturedItemsScroll20193x2) center center no-repeat;
  background-attachment: fixed;
}

.footer .content {
  text-align: center;
  margin-top: 15rem;
  padding: 10px;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: rgba(164, 144, 144, 0.79);
  border-radius: 25px;
}

.footer .content span {
  font-size: 3rem;
  color: #110118;
  font-weight: 500;
}

.footer .content .box-text {
  font-size: 4rem;
  color: #26073c;
  font-weight: 700;
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .home .box {
    padding: 2rem;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right;
  }

  .home .box .content {
    text-align: center;
  }

  .home .box .content span {
    font-size: 3rem;
  }

  .home .box .content .box-text {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}